<div class="max-w-lg mx-auto">
 {% image "images/ondas-2.png", "Ondas", "mx-auto w-24 md:w-32 lg:w-40" %}
</div>

<div class="max-w-xl mx-auto my-6">
    <span class="text-center block tracking-tight uppercase text-gray-500">Patrocinadores 24H24L 2021</span>
    <h2 class="text-primary font-bold text-2xl tracking-tight leading-none text-center">Empresas y profesionales comprometidos con el software libre</h2>

</div>

<div class="max-w-4xl mx-auto">

    <div class="flex flex-wrap items-center justify-center">

        <div class="w-1/3 px-6">
        
        <a href="https://slimbook.com/?ref=24h24l" title="Slimbook">
        {% image "images/slimbook.jpg", "Logo Slimbook", "mx-auto" %}
        </a>

        </div>

        <div class="w-1/3 px-6">
        <a href="https://cursosdedesarrollo.com/?ref=24h24l" title="Cursos de Desarrollo">
        {% image "images/cursos-de-desarrollo.jpg", "Cursos de desarrollo", "mx-auto" %}
        </a>
        </div>

        <div class="w-1/3 px-6">
        <a href="https://don-clojure-de-la-mancha.es/?ref=24h24l" title="Libro Don Clojure de La Mancha de Andros Fenollosa">
        {% image "images/don-clojure-de-la-mancha.jpg", "Don Clojure de La Mancha Libro", "mx-auto" %}
        </a>
        </div>
    </div>

</div>